@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-bg: #0f0e17;
  --secondary-bg: #17161f;
  --shadow-bg: rgba(0, 0, 0, 0.25);
  --medium-bg: rgba(0, 0, 0, 0.5);

  --headline: #fffffe;
  --paragraph: #a7a9be;

  --radius: 10px;
  --gap: 25px;
  --box-gap: 10px;
  --padding: 15px;
  --transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  min-height: 100vh;
  padding: calc(var(--gap) * 2) 20%;
  gap: var(--gap);
  background: var(--primary-bg);
  color: var(--paragraph);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph);
  transition: var(--transition);
}
a:hover {
  color: var(--headline);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  padding: var(--padding);
  background: var(--secondary-bg);
  grid-column: span 4;
  grid-row: span 4;
  border-radius: var(--radius);
  gap: 5px;
  overflow: hidden;
}
.user { grid-column: span 4; grid-row: span 6; align-items: center; }
.menu { grid-column: span 5; grid-row: span 1; flex-direction: row; justify-content: space-between; align-items: center; }
.social { grid-column: span 3; grid-row: span 1; flex-direction: row; justify-content: space-between; align-items: center; }
.about { grid-column: span 4; grid-row: span 5; }
.projects { grid-column: span 4; grid-row: span 9; }
.video { grid-column: span 8; grid-row: span 6; padding: 0; }
.github {
  grid-column: span 4;
  grid-row: span 2;
  background-image: url('./../img/github.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card .userLogo {
  position: relative;
  width: 192px;
  height: 192px;
  background-image: url('./../img/user.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid var(--medium-bg);
  border-radius: 50%;
}
.card .card-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--headline);
}
.card .card-subtitle {
  font-size: 18px;
  font-weight: 500;
}
.card .card-content {
  font-size: 16px;
  font-weight: 400;
}
.card .card-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: var(--box-gap);
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
.card .card-container .box {
  position: relative;
  width: 100%;
  grid-row: span 2;
  padding: var(--box-gap);
  background: var(--shadow-bg);
  background-image: url('./../img/user.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: calc(var(--radius) - 3px);
}
.card .card-container .box .box-title {
  position: absolute;
  bottom: var(--box-gap);
  font-size: 20px;
  font-weight: 600;
  color: var(--headline);
  text-shadow: 1px 1px 2px #000;
}
@media only screen and (max-width: 1200px) {
  body { padding: var(--gap) 10%; }
  .card .userLogo { width: 96px; height: 96px; }
}
@media only screen and (max-width: 768px) {
  :root { --gap: 15px; }
  body { padding: var(--gap) 5%; }
  .user { grid-column: span 6; }
  .menu { grid-column: span 6; }
  .social { grid-column: span 6; }
  .about { grid-column: span 6; grid-row: span 6; }
  .projects { grid-column: span 6; grid-row: span 6; }
  .video { grid-column: span 6; }
  .github { grid-column: span 6; }
}
@media only screen and (max-width: 480px) {
  :root { --gap: 5px; }
  body { padding: var(--gap); }
  .user { grid-column: span 12; }
  .menu { grid-column: span 12; }
  .social { grid-column: span 6; }
  .about { grid-column: span 6; grid-row: span 6; }
  .projects { grid-column: span 6; grid-row: span 9; }
  .video { grid-column: span 6; }
  .github { grid-column: span 6; }
  .card .userLogo { width: 96px; height: 96px; }
}

